@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("../fonts/font-awesome-4.7.0/css/font-awesome.min.css");

/*Hollywood font*/
@font-face {
    font-family: 'Hollywood';
    src: url('../fonts/Hollywood.ttf') format('truetype');
}

/*Sparkle font*/
@font-face {
    font-family: 'Sparkle';
    src: url('../fonts/Sparkle.ttf') format('truetype');
}

/*different colors*/
.yellow {
    color: #ffff00;
}

.red {
    color: #ff0000;
}

.blue {
    color: #0000ff;
}

.white {
    color: #FFF;
}